<div class="row">
	<form name="doctorForm" ng-submit="doctorInfo.collectInfo(doctorForm.$valid)" novalidate>
		<div class="col-xs-6 col-md-6 col-md-offset-3">
			<h1>Doctor Info:</h1>
			<div ng-show="doctorInfo.message != null" class="help-block">{{doctorInfo.message}}</div>
			<div class="input-group">
				<label for="firstName">First Name:</label> <input type="text" name="firstName"
					class="form-control" id="firstName" ng-model="doctorInfo.doctor.firstName" ng-required="true">
				<p ng-show="doctorForm.firstName.$invalid && !doctorForm.firstName.$pristine" class="help-block">First Name is required.</p>
			</div>
			<div class="input-group">
				<label for="lastName">Last Name:</label> <input type="text" name="lastName"
					class="form-control" id="lastName" ng-model="doctorInfo.doctor.lastName" ng-required="true">
				<p ng-show="doctorForm.lastName.$invalid && !doctorForm.lastName.$pristine" class="help-block">Last Name is required.</p>
			</div>
			<div class="input-group">
				<label for="email">Email:</label> <input type="text" name="email"
					class="form-control" id="email" ng-model="doctorInfo.doctor.email" ng-required="true">
				<p ng-show="doctorForm.email.$invalid && !doctorForm.email.$pristine" class="help-block">Email is required.</p>
			</div>
			
			<button type="submit" class="btn btn-primary" ng-disabled="doctorForm.$invalid">Submit</button>

		</div>
	</form>
</div>