
<style>

body {
    background-image: url("http://localhost:8088/PatientReportingSys/project/app/images/medical1.jpg");
    
}


mark {
    background-color: grey;
    color: black;
}
</style>




<!-- col-md-offset-3" style= "padding-left: 100px" -->
		
	
		<div style="margin-right:auto; margin-left:auto;">
		 <div class="col-xs-4 col-md-4 col-md-offset-4"> 
		<form name="userForm" ng-submit="register.doRegister(userForm.$valid)"
		novalidate>
		<div align="center">
			<br><br><br><br><br>
			<h2>User Registration</h2>
			</div>
			<div class="help-block" ng-show="register.message != null"><h4 align="center" class="btn-danger">{{register.message}}</h4></div>


			<input type="text" name="username" class="form-control"
				placeholder="Username" id="username"
				ng-model="register.user.username" ng-required="true">
			<p
				ng-show="userForm.username.$invalid && !userForm.username.$pristine"
				class="help-block"><mark>Username is required.</mark></p>



			<input type="password" name="password" class="form-control"
				placeholder="Password" id="password"
				ng-model="register.user.password" ng-required="true">
			<p
				ng-show="userForm.password.$invalid && !userForm.password.$pristine"
				class="help-block"><mark>Password is required.</mark></p>

			<div ng-controller="RoleCtrl">
				<select id="role" name="role" ng-model="register.user.roleId" class="form-control"
					ng-options="roleDto.id as roleDto.title for roleDto in roles"
					ng-required="true">
					<option value="">Select Role</option>
				</select>
				<p ng-show="userForm.role.$invalid && !userForm.role.$pristine"
					class="help-block"><mark>Role is required.</mark></p>
			</div>
			<br>
			<button type="submit" class="btn btn-block btn-primary"
				ng-disabled="userForm.$invalid">Register</button>

		
	</form>
	</div>
	</div>